
.product-image-style{
    margin-top: 30px;
    text-align: center;
}
.product-description-style{
    font-size: 12px;
}
.badge-style{
    position: absolute;
    top: 6px;
    font-size: 7px;
    left: 26px;
}
ion-content{

    --ion-background-color:#b6e5fb;
}

.product-img{
    max-width: 70%;
}