.form-class{
    padding: 25px;
}
.register{
    padding-left: 25px;
    padding-right: 25px;
}
ion-content{

    --ion-background-color:#b6e5fb;
}

.cart-icon-pos{
    text-align: center;
    margin-top: 20px;
}
.cart-icon{
    font-size: 90px;
    color: #5260ff;
}