<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>E-Shpping Mart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cart-icon-pos">
   <img width="40%" src="../../assets/image/shopping_img.png">
  </div>
  <form class="form-class" [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Email ID</ion-label>
      <ion-input formControlName="email" type="email" required></ion-input>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password" required></ion-input>
      <ion-icon name="finger-print-outline" slot="start"></ion-icon>
    </ion-item>
    <br><br>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="tertiary" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>

    <br>
    <div class="ion-text-center">
      <label>OR</label>
    </div>
  </form>
  <div class="register">
    <ion-button (click)="register()" type="submit" color="tertiary" expand="block">Register</ion-button>
  </div>
</ion-content>